<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>V-ii-I</title>
        <script>
      window.userId = "{{ user_id }}";
      window.jamId = "{{ jam_id }}";
    </script>
  </head>
  <body>
    <h1>V-ii-I</h1>
    <h2>{{ request.host }}/{{jam_id}}</h2>
<br/>
    <div id="submitform">
      <input type="text" id="songInput" placeholder="Type suggestions here" />
      <button onclick="submitSong()" id="submitBtn">Submit</button>
    </div>

    <p>Check the box for each you like:</p>
    <ul id="songList">
      <p style="color: grey; font-style: italic;">No suggestions yet</p></br>
    </ul>
    <div id="songList2Label">
      <p>Completed:</p>
    </div>
    <ul id="songList2">
      <!-- woohoo -->
    </ul>

    <!--
    <div class="input-container">
      <label>Group ID:</label>
      <input type="text" id="jamIdInput" value="default" />
    </div>
    -->

    <img id="qr" src="qr/{{jam_id}}.png" />

    <div class="footer">
      <p>A Rob Miles (well, ChatGPT and Claude) project</p>
    </div>
    <script>
       userId = "{{ user_id }}";
       jamId = "{{ jam_id }}";
    </script>
    <script src="static/script.js"></script>
  </body>
</html>
